.botao{
    background-color: #B80000;
    border-radius: 10px;
    font-weight: 700;
    font-size: 18px;
    padding:20px;
    border: none;
    cursor: pointer;
    color: antiquewhite;
    margin: 16px 0;
}

.botao:hover{
    color:#C5FFF8;
}