/* VideoFooter.css */
.footer {
    width: 100%;      
    height:45vh;   
    position: relative;
    bottom: 0;
    left: 0;
    right: 0; 
    
  }
  
  .react-player {
    width: 100% ; 
    height: 100% ; 
  }
  